<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Listado de base de datos</h1>
    <a href="/crear">Crear base de datos</a>
    <table>
        <tr>
            <th>Base de datos</th>
            <th>Acciones</th>
        </tr>

        <tr>
            <td>aquilerpeliculas</td>
            <td>
                <button>Eliminar</button>
            </td>
        </tr>

        <tr>
            <td>blog</td>
            <td>
                <button>
                    Eliminar
                </button>
            </td>
        </tr>
    </table>
    
</body>
</html>